.create-menu {
  position: absolute;
  top: 60px;
  left: 120px;
  width: 240px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.menu-item {
  padding: 12px 18px;
  cursor: pointer;
}

.menu-item:hover {
  background: #f1f3f4;
}

.new-tag {
  background: #1a73e8;
  padding: 2px 6px;
  border-radius: 6px;
  color: white;
  font-size: 10px;
  margin-left: 6px;
}


