.dayview-container {
  height: calc(100vh - 90px);
  overflow-y: scroll;
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding-left: 60px;
}

.dayview-header {
  padding: 20px;
  padding-bottom: 0;
  font-family: sans-serif;
}

.dayview-day-name {
  font-size: 13px;
  text-transform: uppercase;
  color: #5f6368;
}

.dayview-day-number {
  font-size: 40px;
  margin-top: -4px;
  font-weight: 500;
}

.dayview-grid {
  margin-top: 10px;
}

.dayview-row {
  display: flex;
  border-top: 1px solid #e0e0e0;
  height: 120px;
  cursor: pointer;
}

.dayview-time {
  width: 50px;
  font-size: 12px;
  color: #5f6368;
  position: absolute;
  transform: translateX(-60px);
}

.dayview-cell {
  flex: 1;
  border-left: 1px solid #e0e0e0;
}

.current-time-line {
  position: absolute;
  left: 60px;
  right: 0;
  height: 1.5px;
  background: #ea4335;
  z-index: 10;
}

.current-time-line .circle {
  width: 10px;
  height: 10px;
  background: #ea4335;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: -4px;
}

